# Core functionality - changes here should be rare!
/src/app.py                   @HeitorDalla
/src/backend/database.py      @HeitorDalla
/src/backend/routers/auth.py  @HeitorDalla

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HeitorDalla
